#sect-new-user-guide {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;

    z-index: 3001;

    scale: 0;
    opacity: 0;
}

#guideline-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;

    /*z-index: 3000;*/
    opacity: 0;
    z-index: -1;
}

#guideline-body {
    position: relative;
    padding: 10%;
    margin-top: 18%;
    width: 49%;
    height: 47%;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-image: url("../images/guidelinepaper.png");
    background-repeat: no-repeat;

    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    font-family: open-sans-bold;
    font-size: 17px;
    line-height: 150%;

    /*background-color: #9ac890;*/

    z-index: 3002;
}

#guideline-btn-skip {
    border-style: solid;
    border-color: #263B76;
    border-radius: 10px;
    background-color: #26bdcf;

    font-size: 30px;
    font-family: open-sans-bold;
    color: #ffffff;
}

#guideline-body p {
    width: 100%;
    color: #26bdcf;
}

#guideline-body span {
    /*width: 100%;*/
    color: #26bdcf;
}

#guideline-body li{
    color: #26bdcf;
   width: 100%;
}