@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-67750g');
    src:url('../fonts/icomoon.eot?#iefix-67750g') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-67750g') format('woff'),
    url('../fonts/icomoon.ttf?-67750g') format('truetype'),
    url('../fonts/icomoon.svg?-67750g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Light';
    src:url('../fonts/Open-Sans-Light.ttf.woff') format('woff'),
    url('../fonts/Open-Sans-Light.ttf.svg#Open-Sans-Light') format('svg'),
    url('../fonts/Open-Sans-Light.ttf.eot'),
    url('../fonts/Open-Sans-Light.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src:url('../fonts/Open-Sans-Bold.ttf.woff') format('woff'),
    url('../fonts/Open-Sans-Bold.ttf.svg#Open-Sans-Bold') format('svg'),
    url('../fonts/Open-Sans-Bold.ttf.eot'),
    url('../fonts/Open-Sans-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src:url('../fonts/Open-Sans.ttf.woff') format('woff'),
    url('../fonts/Open-Sans.ttf.svg#Open-Sans') format('svg'),
    url('../fonts/Open-Sans.ttf.eot'),
    url('../fonts/Open-Sans.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
html {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

/* line 11, ../sass/style.scss */
body {
    background-color: white;
    position: relative;
    width: 956px;
    height: 1288px;
    border-weight: 100;
    font-size: 62.5%;
}

/* line 26, ../sass/style.scss */
.banner {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    background-image: url(../images/header3.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 298px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
/* line 38, ../sass/style.scss */
.banner #newbie-camp-title {
    position: relative;
    top: 41%;
    width: 90%;
    height: 20%;
    text-align: center;
    font-family: open-sans-bold;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: 0px;
    word-spacing: 0px;
}
/* line 51, ../sass/style.scss */
.banner #tw-logo {
    position: relative;
    margin-top: 6%;
    width: 20%;
    height: 18%;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
/* line 63, ../sass/style.scss */
.banner #tw-logo img {
    position: relative;
    width: 110%;
    min-height: 110%;
}

/* line 71, ../sass/style.scss */
.preface {
    position: absolute;
    top: 301px;
    text-align: center;
    color: #ef5ba1;
    width: 100%;
    font-family: open-sans-light;
    font-weight: 100;
    font-size: 23px;
    line-height: 50px;
    letter-spacing: -1px;
    word-spacing: 0px;
}

/* line 85, ../sass/style.scss */
#sect-user-info {
  position: relative;
  top: 361px;
  border: solid;
  border-color: #26bdcf;
    background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5%;
  margin-left: 6%;
  margin-right: 6%;
  height: 10.1%;
  z-index: 1;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
/* line 103, ../sass/style.scss */
#sect-user-info .avatar {
  position: relative;
  width: 16.2%;
  height: 100%;
}
/* line 108, ../sass/style.scss */
#sect-user-info .avatar .img_avatar {
  -webkit-flex: 1 0;
  flex: 1 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 117, ../sass/style.scss */
#sect-user-info .profile {
  position: relative;
  max-width: 30%;
  min-width: 16%;
  height: 100%;
  font-family: open-sans-light;
  font-weight: 100;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -1px;
  color: #f78f31;
}
/* line 130, ../sass/style.scss */
#sect-user-info .profile li {
  text-indent: 15px;
  font-size: 12px;
  line-height: 150%;
  letter-space: -1px;
  font-weight: 100;
  font-variant: small-caps;
}
/* line 140, ../sass/style.scss */
#sect-user-info .tasks_accepted {
  position: relative;
  border: dashed;
  border-color: #89b77f;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: 0.4%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.8%;
  min-width: 45%;
  height: 95%;
  -webkit-flex: 3 0;
  flex: 3 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 158, ../sass/style.scss */
#sect-user-info .tasks_accepted .accepted_task {
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 30%;
  height: 95%;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
  vertical-align: middle;
}
/* line 168, ../sass/style.scss */
#sect-user-info .tasks_accepted .img_task_accepted {
  position: relative;
  max-width: 100%;
  height: 100%;

}

/* line 176, ../sass/style.scss */
.task_maps {
  position: relative;
  top: 28%;
  padding-top: 3%;
  padding-bottom: 7%;
  height: 48.6%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 191, ../sass/style.scss */
.task_maps .client {
  color: #f78f31;
  background-color: white;
}
/* line 193, ../sass/style.scss */
.task_maps .client .task_card {

}
/* line 197, ../sass/style.scss */
.task_maps .technical {
  color: #89b77f;
  background-color: white;

}
/* line 199, ../sass/style.scss */
.task_maps .technical .task_card {

}
/* line 203, ../sass/style.scss */
.task_maps .process {
  color: #26bdcf;
  background-color: white;
}
/* line 205, ../sass/style.scss */
.task_maps .process .task_card {

}
/* line 209, ../sass/style.scss */
.task_maps .communication {
  color: #ef5ba1;
  background-color: white;
}
/* line 211, ../sass/style.scss */
.task_maps .communication .task_card {

}
/* line 216, ../sass/style.scss */
.task_maps .task_map {
  padding: 1.2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 4.2%;
  margin-right: 5%;
  margin-top: 3.95%;
  margin-bottom: 2.3%;
  width: 37.1%;
  height: 37.9%;
  border: dashed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 235, ../sass/style.scss */
.task_maps .task_map .task_map_header {
  position: relative;
  width: 100%;
  height: 18%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: unwrap;
  flex-wrap: unwrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 244, ../sass/style.scss */
.task_maps .task_map .task_map_header .task_map_title {
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 4%;
  height: 12.5%;
  text-align: left;
  font-family: "open-sans-bold";
  font-size: 25px;
  font-weight: 900;
  font-variant: small-caps;
  color: inherit;
}
/* line 260, ../sass/style.scss */
.task_maps .task_map .task_map_header .task_map_icon {
  position: relative;
  margin-left: 5%;
  width: 15%;
  height: 90%;
}
/* line 266, ../sass/style.scss */
.task_maps .task_map .task_map_header .task_map_icon img {
  height: 100%;
}
/* line 273, ../sass/style.scss */
.task_maps .task_map .task_card {
  position: relative;
  width: 48%;
  height: 81%;
  margin-left: 1%;
  margin-right: 1%;
  vertical-align: middle;
  overflow: hidden;
}
/* line 285, ../sass/style.scss */
.task_maps .task_map .task_card .mark_in_progress {
  top: 40%;
  width: 100%;
  height: 20%;
  position: absolute;
  display: none;
  font-family: open-sans-bold;
  font-size: 25px;
  color: inherit;
  text-align: center;
  z-index: 10;
}
/* line 297, ../sass/style.scss */
.task_maps .task_map .task_card .img_unclicked {
  max-width: 100%;
  min-height: 100%;
  -webkit-flex: 1 0;
  flex: 1 0;
}
/* line 306, ../sass/style.scss */
.task_maps .task_map .task_card .img_clicked {
  max-width: 100%;
  min-height: 100%;
  -webkit-flex: 1 0;
  flex: 1 0;
}

/* line 318, ../sass/style.scss */
.light_box {
  width: 576px;
  height: 576px;
  /*border: dashed;*/
  /*border-color: #26bdcf;*/
  background-color: #26bdcf;
  padding: 1%;
  position: absolute;
  top: 30%;
  z-index: 1001;
  margin: 5%;
  margin-left: 190px;
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.light_box .light_box_border {
    position: relative;
    border: solid #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    borderer-radius: 10px;
    background-color: transparent;
    width: 99%;
    height: 99%;
    z-index: 1002;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    font-family: open-sans-light;
    font-size: 30px;
    color: #ffffff;
    line-height: 160%;
}
/* line 339, ../sass/style.scss */
.light_box #lb-task-header {
  position: relative;
  width: 100%;
  height: 10%;
  border-bottom: dashed;
  border-bottom-color: #ffffff;
  background-color: transparent;
  padding-left: 2%;
  font-family: open-sans-light;
  font-size: 35px;
  line-height: 160%;
  text-align: left;
  color: #ffffff;
}

.light_box #lb-task-header #lb-task-type {
    font-weight: 900;
    font-family: open-sans-bold;
}

.light_box #lb-task-header #lb-task-name {
    font-size: x-large;
    font-weight: 100;
}

/* line 352, ../sass/style.scss */
.light_box #lb-task-img {
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 35%;
  height: 70%;
}
/* line 359, ../sass/style.scss */
.light_box #lb-task-img .img_lightbox {
  position: absolute;
  -webkit-flex: 1 0;
  flex: 1 0;
  width: 100%;
  min-height: 50%;
  z-index: 2000;
}
/* line 368, ../sass/style.scss */
.light_box .light_box_border #lb-task-description {
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  height: 65%;
  background-color: transparent;
  font-family: open-sans-light;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}

.light_box .light_box_border #lb-task-description #lb-task-content {
    border-right: dashed #ffffff;
    position: relative;
    width: 64%;
    height: 94%;
    padding-left: 2%;
    padding-right: 2%;
    padding: 2%;
    line-height: 180%;
    font-size: x-large;
}

.light_box .light_box_border #lb-task-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    border-top: dashed #ffffff;
    width: 100%;
    height: 24%;
    vertical-align: middle;
    font-size: x-large;
}
.light_box_border #lb-task-footer #lb-task-guard {
    width: 36%;
    height: 81%;
    border-right: dashed #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
    line-height: 180%;
}
/* line 379, ../sass/style.scss */
.light_box #lb-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 59%;
  height: 100%;
}
/* line 387, ../sass/style.scss */
.light_box #lb-buttons .btn_lightbox {
  display: box;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  borderer-radius: 50%;
  width: 30%;
  height: 73%;
    margin: auto;
}

.light_box #lb-buttons .btn_lightbox #tn-lightbox-accept {
}

.light_box #lb-buttons .btn_lightbox #tn-lightbox-back {
}

/* line 398, ../sass/style.scss */
#light-box-bg {
  display: none;
  background-color: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

/* line 410, ../sass/style.scss */
.footer {
  background-image: url(../images/footer3.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 1224px;
  width: 100%;
  height: 64px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size: 38px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
    content: "\e605";
}

.icon-bubbles:before {
    content: "\e600";
}

.icon-user:before {
    content: "\e601";
}

.icon-lab:before {
    content: "\e602";
}

.icon-checkmark:before {
    content: "\e604";
}

.icon-shuffle:before {
    content: "\e603";
}

a {
    text-decoration: none;
    color: #3f5699;
}

a:hover {
    text-decoration: underline;
}
